pandas == 2.0.3
tqdm == 4.65.1
click == 8.1.6
pymongo == 4.4.1 # databases
web3 == 6.8.0 # web3 package
slither-analyzer == 0.9.6 # for source code analysis
pysha3 == 1.0.2 # for keccak256
networkx == 3.1 # for graph visualization
pydotplus == 2.0.2
graphviz == 0.20.1 # https://datascience.stackexchange.com/questions/37428/graphviz-not-working-when-imported-inside-pydotplus-graphvizs-executables-not
z3-solver == 4.12.2.0 # for solver
sympy == 1.12
pytest == 7.4.0 # for unit tests
pytest-timeout == 2.1.0
pytest-xdist == 3.3.1